<section class="jumbotron">
    <div class="container w-50">
			<div class="row justify-content-start">
			<div class="col">
			<h2>マッチング希望詳細</h2>
			<% if current_user.id == @matching_post.user_id %>
			<div class="row justify-content-start">
			<div class="col">
			<p class="lead text-muted">マッチング詳細です。編集ボタンから内容の編集ができます。希望時間帯からマッチングしたい時間を選んでマッチングしましょう。</p>
			</div>
			</div>
			<div class="row justify-content-start">
			<div class="col">
			<%= link_to "編集", edit_matching_post_path(@matching_post), class: "btn btn-success" %>
			<%= link_to "削除", matching_post_path(@matching_post), method: :delete, class: "btn btn-danger", data: { confirm: "【確認】削除してもよろしいですか？" } %>
			</div>
			</div>
			<div class="row justify-content-start mt-4 mb-2">
      <div class="col">
			<h4>希望時間帯一覧</h4>
			</div>
			<div class="col">
			<button class="btn btn-secondary" id="js-show_time_frame">希望開始時間を表示</button>
			</div>
			</div>

			<div class="row justify-content-start">
		  <div id="js-user_time_frame" class="col">
			<%= render partial: 'time_frames/time_frame', collection: @time_frames %>
		  </div>
			</div>

			<% else %>
			<div class="row justify-content-start">
			<div class="col">
      <p class="lead text-muted">マッチング詳細を確認して都合が良い日程を送りましょう。承認されたらマッチングします。</p>
			</div>
			</div>

			<div class="row justify-content-start mb-2">
      <div class="col">
			<h4><%= current_user.name%>さん</h4>
			</div>
			<div class="col">
			<button class="btn btn-secondary" id="js-show_time_frame">希望開始時間を表示</button>
			</div>
			</div>

			<div class="row justify-content-start">
		  <div id="js-user_time_frame" class="col">
			<%= render partial: 'time_frames/time_frame', collection: @time_frames %>
		  </div>
			</div>

			<div class="row justify-content-start my-4">
			<div class="col">
			<button class="btn btn-success" id="js-new_time_frame">マッチング希望時間を送る?</button>
			</div>
			</div>
			<% end %>
    </div>
		</div>
		</div>

<div class="container w-50 mt-2 d-none" id="js-time_frame_form">
<div class="row justify-content-start mt-2">
<div class="col">
<p class="my-auto">希望開始時間を選択してください</p>
<div id="js-error_explanation"></div>
</div>
</div>
<div class="row justify-content-start float-left">
<div class="col">
<%= form_with model: @time_frame do |f| %>
<%= f.hidden_field :matching_post_id, value: @matching_post.id %>
<%= f.text_field :time_frame,data: { behavior: "flatpickr"}, class: "float-left" %>
</div>
</div>
<div class="row ml-2">
<div class="col">
<%= f.submit "時間帯を登録", class: "btn btn-secondary" %>
<% end %>
</div>
</div>
</div>
</section>

<div class="container mb-5">
<div class="card w-50 mx-auto">
  <div class="card-header">
   <h4 class="mt-2">テーマ:　<%= @matching_post.title %></h4>
   <% if @article %>
   <p class="mt-3 lead text-muted">参考資料:　<%= link_to @article.title, article_path(@article) %></p>
   <% end %>
  </div>
  <% unless (@matching_post.body).blank? %>
  <div class="card-body">
    <blockquote class="blockquote mb-0 overflow-wrap: break-word;">
      <p><%= @matching_post.body %></p>
    </blockquote>
  </div>
  <% end %>
		<div class="row">
	<div class="col">
	<button type="button" onclick="history.back()" class="btn btn-secondary">戻る</button>
	</div>
	</div>
</div>
</div>
<% if @matching_post.user_id == current_user.id %>
<div class="modal" tabindex="-1" role="dialog" id="js-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">マッチング確認</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="js-detail_name">名前: さん</p>
				<p id="js-detail_time">時間: 開始</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<%= form_with url: matchings_path, method: :post, scope: :matching, local: true do |f|%>
				<%= f.hidden_field :followed_user_id, value: "", id: "modal-followed_id" %>
				<% if @article %>
				<%= f.hidden_field :user_post_id, value: @article.id, id: "modal-user_post_id" %>
				<% end %>
				<%= f.hidden_field :matching_post_id, value: @matching_post.id %>
				<%= f.hidden_field :followed_post_id, value: "", id: "modal-followed_post_id" %>
				<%= f.submit "この時間で決定", class: "btn btn-primary"%>
				<% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
function show_detail(event){
	var target = event.target
	var name = document.getElementById("js-name_" + target.id).textContent
	var time = document.getElementById("js-time_" + target.id).textContent
	var user_name = "名前: " + name + " さん"
	var user_time = "時間: " + time + " 開始"
	var detail_name = document.getElementById("js-detail_name")
	var detail_time = document.getElementById("js-detail_time")
	detail_name.innerHTML = user_name
	detail_time.innerHTML = user_time
	var follower_id = Number(document.getElementById("js-followed_id_" + target.id).textContent)
	document.getElementById("modal-followed_id").value = follower_id
	}
</script>
<style>
html {
    height: 130%;
}

body {
    height: 130%;
    margin: 0;
}

.add-time {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    background: #f7f7f7;
    border-left: solid 6px #58ad5a;
    color: #58ad5a;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.add-time:hover {
	cursor: pointer;
	cursor: hand;
}
</style>
