<section class="jumbotron">
    <div class="container w-50">
			<div class="row justify-content-start">
			<div class="col">
			<h2>マッチング希望詳細</h2>
			<% if current_user.id == @matching_post.user_id %>
			<div class="row justify-content-start">
			<div class="col">
			<p class="lead text-muted">マッチング詳細です。編集ボタンから内容の編集ができます。</p>
			</div>
			</div>
			<div class="row justify-content-start">
			<div class="col">
			<%= link_to "編集", edit_matching_post_path(@matching_post), class: "btn btn-success" %>
			<%= link_to "削除", matching_post_path(@matching_post), method: :delete, class: "btn btn-danger", data: { confirm: "【確認】削除してもよろしいですか？" } %>
			</div>
			</div>
			<% else %>
			<div class="row justify-content-start">
			<div class="col">
      <p class="lead text-muted">マッチング詳細を確認して都合が良い日程を送りましょう。承認されたらマッチングします。</p>
			</div>
			</div>
			<div class="row justify-content-start">
			<div class="col">
			
			<table class="table">
  		<thead>
 		  <tr>
      <th scope="col"><h4 class="mt-1"><%= current_user.name%>さん</h4></th>
			<th scope="col"><button class="btn btn-secondary" id="js-show_time_frame">希望開始時間</button></th>
			</tr>
		  </thead>
			
		  <tbody id="js-user_time_frame" class="d-none">
			<%= render 'user_time_frame', time_frames: @time_frames %>
		  </tbody>
			</table>
			</div>
			</div>
			<div class="row justify-content-start">
			<div class="col">
			<button class="btn btn-success" id="js-new_time_frame">マッチング希望時間を送る</button>
			</div>
			</div>
			<% end %>
    </div>
		</div>
		</div>

<div class="container w-50 mt-2 d-none" id="js-time_frame_form">
<div class="row justify-content-start mt-2">
<div class="col">
<p class="my-auto">希望開始時間を選択してください</p>
<div id="js-error_explanation"></div>
</div>
</div>
<div class="row justify-content-start float-left">
<div class="col">
<%= form_with model: @time_frame do |f| %>
<%= f.hidden_field :matching_post_id, value: @matching_post.id %>
<%= f.text_field :time_frame,data: { behavior: "flatpickr"}, class: "float-left" %>
</div>
</div>
<div class="row ml-2">
<div class="col">
<%= f.submit "時間帯を登録", class: "btn btn-secondary" %>
<% end %>
</div>
</div>
</div>
</section>

<div class="container mb-5">
<div class="card w-50 mx-auto">
  <div class="card-header">
   <h4 class="mt-2">テーマ:　<%= @matching_post.title %></h4>
   <% if @article %>
   <p class="mt-3 lead text-muted">参考資料:　<%= link_to @article.title, article_path(@article) %></p>
   <% end %>
  </div>
  <% unless (@matching_post.body).blank? %>
  <div class="card-body">
    <blockquote class="blockquote mb-0 overflow-wrap: break-word;">
      <p><%= @matching_post.body %></p>
    </blockquote>
  </div>
  <% end %>
		<div class="row">
	<div class="col">
	<button type="button" onclick="history.back()" class="btn btn-secondary">戻る</button>
	</div>
	</div>
</div>
</div>
<style>
html {
    height: 130%;
}

body {
    height: 130%;
    margin: 0;
}

</style>