<section class="jumbotron">
    <div class="container w-50">
			<div class="row justify-content-start">
			<div class="col">
			<h2>原稿執筆</h2>
      <p class="lead text-muted">マッチングした時に使う原稿を書きましょう。ブログなどで書いた記事などのリンクを載せてみてもいいかもしれません。</p>
    </div>
		</div>
		</div>
  </section>

<div class="container w-50">
<div class="row">
<div class="col">
<%= form_with model: @article, local: true do |f| %>
<div class="form-group">
  <%= f.label :title, "テーマ(必須)" %>
  <%= f.text_field :title, class: "form-control", placeholder: "テーマ" %>
</div>
<div class="form-group">
  <%= f.label :body, "本文(任意)" %>
  <%= f.text_area :body, class: "form-control", placeholder: "本文", wrap: "soft", rows: "10" %>
</div>
<%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
