<section class="jumbotron">
    <div class="container w-50">
			<% if current_user.id == @article.user_id %>
			<div class="row justify-content-start">
			<div class="col">
			<h2>原稿詳細</h2>
      <p class="lead text-muted">マッチングした時に使う原稿です。</p>
			</div>
			</div>
			<div class="row justify-content-start">
			<div class="col">
			<%= link_to "編集", edit_article_path(@article), class: "btn btn-success" %>
			<%= link_to "削除", article_path(@article), method: :delete, class: "btn btn-danger" %>
			</div>
			</div>
			<% else %>
			<div class="row justify-content-start">
			<div class="col">
			<h2>資料詳細</h2>
			<p class="lead text-muted"><%= @article.user.name %>さんの資料詳細ページです。</p>
			</div>
			</div>
			<% end %>
		</div>
  </section>
<div class="container mx-auto w-50">
	<div class="row mx-5 mt-5">
	<div class="col text-center">
		<h2>
		<%= @article.title %>
		</h2>
	</div>
	</div>
	<div class="row mx-5 my-5">
	<div class="col center-block text-justify overflow-wrap: break-word;">
	<%= @article.body %>
	</div>
	</div>
	<div class="row mx-5">
	<div class="col">
		<button type="button" onclick="history.back()" class="btn btn-secondary">戻る</button>
	</div>
	</div>
</div>

<style>
.container{
	margin:0 20% 0 20%;
	}
</style>

