<tr>
	<td><%= link_to user_article.title, offering_post_path(user_article) %></td>
	<td><%= user_article.created_at %></td>
	<td><%= user_article.status %></td>
	<td><%= link_to "x", offering_post_path(user_article), method: :delete %></td>
	<td><%= link_to "🖋", edit_offering_post_path(user_article), method: :get %></td>
	<td>
	<% if user_article.status == "ready" %>
	<%= form_with url: offering_post_path(user_article), method: :patch, scope: :offering_post, local: true do |f| %>
	<%= f.hidden_field :status, value: "active" %>
	<%= f.submit "Activate", class: "btn btn-success" %>
	<% end %>
	<% end %>
	</td>
</tr>
